.profile .nav-tabs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 40px
}
@media (max-width:767.98px) {
  .profile .nav-tabs {
    display: block;
    border-bottom: 0
  }
}
.profile .nav-tabs .nav-item {
  margin: 0
}
.profile .nav-tabs .nav-item:not(:last-child) {
  margin-right: 48px
}
@media (max-width:767.98px) {
  .profile .nav-tabs .nav-item {
    display: block
  }
  .profile .nav-tabs .nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px
  }
  .profile .nav-tabs .nav-item .nav-link {
    display: inline-block;
    padding-bottom: 6px
  }
}
.profile-info .discount {
  margin-bottom: 40px;
  padding: 16px;
  background-color: #eff3f6;
  line-height: 1.4
}
@media (max-width:767.98px) {
  .profile-info .discount {
    margin-bottom: 28px
  }
}
.profile-info .discount-system-table {
  max-width: 400px;
  margin-top: 32px
}
.profile-info .discount-system-table td {
  border-bottom: 1px dashed #25373f
}
.profile-personal-wrapper {
  padding: 32px 24px;
  background-color: #eff3f6
}
.profile-personal-wrapper .form {
  max-width: 530px
}
.profile-personal-wrapper .form .form-submit {
  width: 100%;
  max-width: 312px
}