@import '../helpers/helpers'

.modal
	padding-right: 0!important
	&.fade
		transition: .3s ease
		.modal-dialog
			transform: translateX(30px)
	&.show
		.modal-dialog
			transform: translateX(0)
	&-backdrop
		background-color: $darkblue
	// Success modal popup
	&--success,
	&--error
		~ .modal-backdrop
			// background-color: $white
			opacity: 0
		.modal-dialog
			margin-right: auto
			background-color: $trsp
		.modal-content
			height: auto
			box-shadow: 0 0 25px 10px rgba($darkblue, 0.1)
		.modal-header
			position: static
			height: 52px
			border-bottom: 0
			background-color: #5ec547
			.title
				color: $white
			.close
				width: 15px
				height: 15px
				justify-content: center
				> svg
					flex: 0 0 auto
					fill: $white
				&:hover
					background-color: $white
					> svg
						fill: $darkblue
		.modal-body
			margin-top: 0
			background-color: $white
			border-radius: 0 0 4px 4px
			span, p
				display: block
				margin-bottom: 0
				line-height: 1.4
	&--success
		.modal-header
			background-color: #5ec547
	&--error
		.modal-header
			background-color: #e26969
	// User Profile modal customize
	&--profile
		.modal-header
			.nav-tabs
				.nav-item
					margin: 0
					&:not(:last-child)
						margin-right: 32px
				.nav-link
					position: relative
					padding-bottom: 0
					line-height: 47px
					border-bottom: 0
					&::after
						content: ''
						position: absolute
						top: 100%
						left: 0
						right: 0
						height: 1px
						background-color: $trsp
						opacity: 0
						transition: .3s ease
					&:hover
						&::after
							opacity: 1
							background-color: darken($lightgray, 15%)
				.nav-item.show .nav-link::after,
				.nav-link.active::after
					background-color: $accent
					opacity: 1
		.modal-body
			.form
				&-link,
				&-submit
					width: auto
					margin-left: 104px
					+media-breakpoint-down(sm)
						margin-left: 0
				&-submit
					margin-top: 24px
	// Basic customize
	&-dialog
		max-width: 360px
		height: 100%
		margin: 0
		margin-left: auto
		background-color: $lightgray
		+media-breakpoint-down(xs)
			max-width: 320px
		+media-breakpoint-down(xxs)
			max-width: 100%
	&-content
		height: 100%
		border: 0
		background-color: $trsp
	&-header
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 48px
		padding: 0 24px
		border-bottom: 1px solid #dde5e9
		+media-breakpoint-down(xs)
			padding: 0 16px
		.title
			display: flex
			align-items: center
			line-height: 1
			.icon
				margin-right: 8px
			> span
				font-size: 12px
				font-weight: 700
				text-transform: uppercase
		.close
			display: flex
			align-items: center
			height: 100%
			cursor: pointer
			> svg
				fill: $darkblue
				transition: fill .3s ease
			&:hover
				> svg
					fill: $accent
	&-body
		overflow-y: auto
		height: 100%
		margin-top: 48px
		padding: 24px
		+media-breakpoint-down(xs)
			padding: 16px
		.form
			&-group
				+media-breakpoint-down(sm)
					flex-direction: column
					align-items: flex-start
					.form-label
						margin-bottom: 8px
			&-control
				flex-shrink: 1
				margin-left: 10px
				+media-breakpoint-down(sm)
					margin-left: 0
			&-submit
				margin-top: 32px
				margin-left: 104px
				+media-breakpoint-down(sm)
					margin-left: 0
				+media-breakpoint-down(xs)
					width: auto