@import 'config'
@import 'components'
@import 'base'


// SITE HEADER
.header
	&-top
		padding: 8px 0
		background: $lightgray
		.links
			display: flex
			justify-content: flex-end
			> li
				line-height: 16px
				&:not(:first-child)
					margin-left: 27px
				> a
					color: $black
					font-size: 12px
					&:hover
						color: $accent
	&-middle
		padding: 30px 0 25px
		border-bottom: 1px solid $lightgray
		+media-breakpoint-down(sm)
			display: flex
			align-items: center
			height: 60px
			padding: 0
		> .container
			position: relative
		.logo
			display: block
			max-width: 262px
			height: auto
			+media-breakpoint-down(sm)
				height: 24px
		.search-form
			display: flex
			align-items: center
			margin-left: 10px
			margin-right: 90px
			+media-breakpoint-down(lg)
				margin: 0
			+media-breakpoint-down(sm)
				position: absolute
				top: 0
				left: 0
				right: 0
				width: 100%
				height: 100%
				visibility: hidden
				opacity: 0
				transition: .2s ease
				&.is-active
					visibility: visible
					opacity: 1
			&-input
				margin-bottom: 0
				border-radius: 24px
				border: 1px solid $lightblue
				+media-breakpoint-down(sm)
					max-width: 100%
					height: 100%
					padding-left: 60px
					border-radius: 0
					border: none
			&-btn
				flex: 0 0 auto
				width: 40px
				height: 40px
				margin-left: 24px
				display: flex
				align-items: center
				justify-content: center
				> svg
					flex: 0 0 16px
					width: 16px
					height: 16px
					fill: $white
				+media-breakpoint-down(md)
					margin-left: 16px
				+media-breakpoint-down(sm)
					position: absolute
					left: 0
					background-color: $trsp
					> svg
						fill: $darkblue
			&-close
				position: absolute
				right: 22px
				cursor: pointer
				> svg
					fill: $darkblue
		.mobile-action
			display: flex
			justify-content: flex-end
			.search,
			.burger
				margin-left: 16px
				&-btn
					padding: 2px
					> svg
						fill: $darkblue
		.phone
			padding-left: 24px
			background-image: url('../images/dest/icons/phone.svg')
			background-repeat: no-repeat
			background-position: left 6px
			background-size: 16px
			+media-breakpoint-down(md)
				display: none
			&-link
				color: $black
				font-size: 18px
				&:hover
					color: $accent
			&-descr
				display: block
				color: #76858c
				line-height: 1
		.contacts
			margin-left: 36px
			+media-breakpoint-down(md)
				margin-left: 0
			&-link
				color: $black
				font-size: 18px
				&:hover
					color: $accent
	&-bottom
		padding: 16px 0
		&-catalog
			padding-right: 0
		.header-menu
			position: relative
			&:not(.--jsfied)
				overflow-x: auto
				-webkit-overflow-scrolling: touch
				-ms-overflow-style: none // Internet Explorer 10+
				scrollbar-width: none // Firefox
				&::-webkit-scrollbar
					display: none
			.--hidden
				display: none
			a,
			button
				width: 100%
				height: 100%
				display: block
				font-size: 1em
				line-height: 1.2
				text-align: center
				color: $black
				background-color: transparent
			// primary
			&-primary
				display: flex
				> li
					flex-grow: 1
					> a,
					> button
						white-space: nowrap
						padding: 0 16px
						&:hover, &:active
							color: $accent
				.more
					.btn
						padding-right: 0
						transition: none
						> svg
							vertical-align: baseline
							fill: $darkblue
							transition: fill .35s ease, transform .25s ease
						> span
							display: inline-block
							vertical-align: top
							margin-left: 4px
							transition: .35s ease
						&:hover
							> svg
								fill: $accent
							> span
								color: $accent
			&.--show-secondary .header-menu-primary
				.more
					.btn
						> svg
							fill: $accent
							transform: rotate(90deg)
						> span
							color: $accent
			// secondary
			.-secondary
				position: absolute
				top: 100%
				right: 0
				z-index: 19
				display: none
				max-width: 100%
				min-width: 100px
				margin-top: 16px
				padding: 10px
				background-color: $white
				box-shadow: 0px 0px 10px rgba(37, 55, 63, 0.1)
				animation: nav-secondary 0.2s
				a
					padding: 0.6em
					text-align: left
					&:hover,
					&:active
						color: $accent
			&.--show-secondary .-secondary
				display: block

		// keyframes
		@keyframes nav-secondary
			0%
				opacity: 0
				transform: translateY(-1em)
			100%
				opacity: 1
				transform: translateY(0)


// SECTION: "Heroes"
.heroes
	margin-top: 40px
	+media-breakpoint-down(md)
		background-color: $lightgray
	+media-breakpoint-down(sm)
		margin-top: 0
	&-slider
		overflow: hidden
		height: 425px
		border-radius: 240px
		background-color: $lightgray
		+media-breakpoint-down(md)
			height: 350px
			border-radius: 0
			background-color: $trsp
		+media-breakpoint-down(sm)
			height: 100%
		.slick-arrow
			position: absolute
			z-index: 1
			top: 50%
			width: 40px
			height: 40px
			margin-top: -20px
			background: $white url('../images/dest/icons/arrow-dark.svg') no-repeat center/16px
			font-size: 0px
			+media-breakpoint-down(md)
				top: auto
				bottom: 18px
			&:hover
				opacity: 0.75
			&.slick-disabled
				cursor: default
				opacity: 0.15
		.slick-prev
			left: 32px
			+media-breakpoint-down(md)
				left: 0
		.slick-next
			right: 32px
			transform: rotate(180deg)
			+media-breakpoint-down(md)
				right: 0
		.slick-dots
			position: absolute
			z-index: 1
			display: flex
			left: 50%
			bottom: 32px
			transform: translateX(-50%)
			> li
				margin: 0 8px
				&.slick-active
					> button
						box-shadow: 0 0 0 3px $lightblue
				> button
					width: 5px
					height: 5px
					padding: 0
					background-color: $lightblue
					font-size: 0
	&-slide
		outline: none
	&-slide-inner
		display: flex
		align-items: center
		justify-content: space-between
		height: 425px
		padding: 60px 80px 60px 130px
		+media-breakpoint-down(md)
			height: 350px
			padding: 40px 0 75px
		+media-breakpoint-down(sm)
			flex-direction: column
			height: 100%
			padding: 16px 0 96px
		.content
			flex-basis: 360px
			width: 100%
			max-width: 360px
			+media-breakpoint-down(sm)
				flex-basis: auto
				max-width: 100%
				text-align: center
			.title
				margin-bottom: 0
				color: #000
				font-size: 32px
				font-weight: 700
				+media-breakpoint-down(md)
					font-size: 28px
			.btn
				margin-top: 40px
				+media-breakpoint-down(md)
					margin-top: 16px
		.image
			width: 100%
			height: 100%
			max-width: 550px
			max-height: 250px
			text-align: center
			+media-breakpoint-down(md)
				max-width: 350px
			+media-breakpoint-down(sm)
				max-width: 100%
				height: 150px
				margin-bottom: 16px
			img
				display: inline-block
				width: 100%
				height: 100%
				object-fit: contain


// SECTION: Categories
.s-categories
	.nav
		justify-content: center
		&-tabs
			border-color: $lightgray
		&-link
			margin: 0 32px
			padding: 0 0 20px 0
			border-radius: 0
			border: none
			border-bottom: 1px solid $trsp
			color: #76858c
			font-size: 12px
			font-weight: 700
			text-transform: uppercase
			&.active
				border-color: $accent
				color: $black
	.tab-content
		margin-top: 64px
		+media-breakpoint-down(lg)
			margin-top: 32px
	.categories-list
		&-item
			margin-bottom: 24px
		&-link
			display: flex
			&:hover
				.image
					border-color: $accent
					background-color: $accent
					.icon
						fill: $white
						stroke: $white
				.title
					span
						color: $accent
					.icon
						fill: $accent
			.image
				flex: 0 0 auto
				display: flex
				align-items: center
				justify-content: center
				width: 40px
				height: 40px
				border-radius: 50%
				border: 1px solid $lightgray
				background-color: $white
				transition: .35s ease
				.icon
					fill: $accent
					stroke: $accent
					font-size: 24px
					transition: .35s ease
			.title
				display: inline-flex
				width: 100%
				justify-content: space-between
				margin-left: 16px
				padding-top: 8px
				transition: .35s ease
				span
					display: inline-block
					padding-right: 8px
					color: $black
					font-size: 18px
					line-height: 24px
					transition: .35s ease
					+media-breakpoint-down(sm)
						font-size: 16px
				.icon
					flex: 0 0 auto
					margin-top: 5px
					fill: $lightblue
					font-size: 16px
					transition: .35s ease


// SECTION: Our Products
.s-products
	.section-descr
		max-width: 272px
		+media-breakpoint-down(md)
			max-width: 100%
	&-buttons
		.catalog-link
			margin-top: 35px
		+media-breakpoint-down(md)
			display: flex
			align-items: center
			justify-content: space-between
			margin-bottom: 40px
			.catalog-link
				margin-top: 0
	&-list
		&-item
			display: block
			margin-bottom: 48px
			.image
				overflow: hidden
				position: relative
				width: 80px
				height: 80px
				border-radius: 100%
				&::before
					content: ''
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					background: $accent
					opacity: 0
					transition: opacity .35s ease
				&-icon
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
				&-photo
					display: block
					width: 100%
					height: 100%
					object-fit: cover
			.title
				color: $black
				font-size: 18px
				font-weight: 400
				line-height: 24px
				transition: color .35s ease
				+media-breakpoint-down(sm)
					font-size: 16px
			&:hover
				.image::before
					opacity: 1
				.title
					color: $accent


// SECTION: CTA
.s-cta
	overflow: hidden
	+media-breakpoint-down(md)
		background-color: $lightgray
	&-wrapper
		padding: 40px 0 40px 56px
		background-color: $lightgray
		+media-breakpoint-down(md)
			padding-left: 0
			padding-right: 0
			background-color: $trsp
	&-form
		+media-breakpoint-down(md)
			margin-top: 20px
		+media-breakpoint-down(sm)
			margin-top: 60px
		.form-submit
			width: 100%
			max-width: 340px
			margin-top: 40px
			+media-breakpoint-down(lg)
				max-width: 70%
	&-descr
		display: flex
		.dots
			flex: 0 0 auto
			margin-right: 16px
		p
			max-width: 334px
			margin-top: -6px
	&-expert
		position: relative
		+media-breakpoint-down(lg)
			margin-top: 20px
		+media-breakpoint-down(lg)
			margin-top: 40px
		.photo
			position: absolute
			left: 90px
			bottom: 0
			z-index: 1
			max-width: 100%
			height: 340px
			+media-breakpoint-down(lg)
				left: 70px
				max-width: 100%
				height: 300px
			+media-breakpoint-down(sm)
				height: 240px
		.figure
			width: 100%
			height: 248px
			border-radius: 200px 0 0 200px
			background-color: $lightblue
			+media-breakpoint-down(lg)
				height: 200px
			+media-breakpoint-down(md)
				width: 100vw
			


// SECTION: About Us
.s-about
	&-header
		margin-bottom: 40px
	&-group
		&:not(:first-child)
			margin-top: 50px


// SITE FOOTER
.footer
	margin-top: 120px
	background: $lightgray
	&-wrapper
		padding-top: 30px
		padding-bottom: 60px
	&-logo
		> a
			display: inline-block
	&-contacts
		margin-top: 30px
		.phone
			display: inline-flex
			flex-direction: column
			margin-bottom: 20px
			padding-left: 24px
			background-image: url('../images/dest/icons/phone.svg')
			background-repeat: no-repeat
			background-position: left 6px
			background-size: 16px
			line-height: 32px
			&-link
				color: $black
				font-size: 24px
				&:hover
					color: $accent
		.email
			display: inline-flex
			flex-direction: column
			margin-bottom: 20px
			padding-left: 24px
			background-image: url('../images/dest/icons/mail.svg')
			background-repeat: no-repeat
			background-position: left 5px
			background-size: 16px
			line-height: 24px
			&-link
				color: $black
				font-size: 18px
				&:hover
					color: $accent
		.adress
			display: inline-flex
			flex-direction: column
			line-height: 24px
			&:not(:last-child)
				margin-bottom: 20px
			&-title
				padding-left: 24px
				color: $darkgray
				font-size: 14px
			&-location
				padding-left: 24px
				color: $black
				font-size: 14px
				background-image: url('../images/dest/icons/place.svg')
				background-repeat: no-repeat
				background-position: left 3px
				background-size: 16px
		.navigation
			display: flex
			+media-breakpoint-down(md)
				flex-wrap: wrap
			&-list
				flex: 0 0 50%
				max-width: 50%
				+media-breakpoint-down(md)
					flex: 0 0 100%
					max-width: 100%
				&:nth-child(2)
					padding-left: 20px
					+media-breakpoint-down(md)
						padding-left: 0
				> li
					margin-bottom: 8px
					> a
						color: $black
						font-size: 14px
						font-weight: 400
						&:hover
							color: $accent
		.social
			display: flex
			flex-wrap: wrap
			align-items: center
			+media-breakpoint-down(md)
				margin-top: 30px
			> a
				display: flex
				align-items: center
				justify-content: center
				width: 32px
				height: 32px
				margin-bottom: 12px
				border-radius: 50%
				background-color: $darkblue
				color: $white
				font-size: 16px
				&:not(:last-child)
					margin-right: 12px
				&:hover
					background-color: $accent
	&-copyright
		padding: 12px 0
		border-top: 1px solid $white
		span, p
			color: #25373f